:root {
    --colors-white: #fff;
    --colors-black: #000;
    --colors-grey-50: #fcfcfc;
    --colors-blue-900: #2b3844;
    --colors-blue-950: #202c36;
    --colors-grey-250: #c4c4c4;
    --colors-grey-300: #b2b2b2;
    --colors-grey-350: #979797;
    --colors-grey-400: #808080;
    --colors-grey-950: #111517;
}

:root {
    --font-family: "Nunito Sans", sans-serif;
    --second-family: "Barlow", sans-serif;
}

body {
    font-family: var(--font-family);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06); */
    background: var(--colors-blue-900);
    padding: 23px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: 800;
    font-size: 24px;
    color: var(--colors-white);
}



.header__change-theme-icon svg {
    margin-bottom: -2px;
}

.header__change-theme-text {
    font-weight: 600;
    font-size: 16px;
    color: var(--colors-white);
}

.main {
    background-color: var(--colors-blue-950);
    padding: 48px 0;
    min-height: 100vh;
}

.main__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.main__search {
    border-radius: 5px;
    padding: 0px 32px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    background: var(--colors-blue-900);
    display: flex;
    align-items: center;
    width: 480px;
    gap: 24px;

}

.main__search-icon {
    display: flex;
}

.main__search-input {
    padding: 18px 0;
    max-width: 480px;
    width: 100%;
    color: var(--colors-white);
}

.main__search-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: var(--colors-white);
}

.main__select {
    border-radius: 5px;
    padding: 18px 24px;
    width: 200px;
    background: var(--colors-blue-900);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--colors-white);
    height: 56px;
    position: relative;
    cursor: pointer;
}

.main__select span {
    margin-left: 40px;
}

.main__select-list {
    opacity: 0;
    z-index: 2;
    position: absolute;
    margin-top: 10px;
    border-radius: 5px;
    padding: 18px 24px;
    width: 200px;
    background: var(--colors-blue-900);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    transition: all .3s;
    color: var(--colors-white);
    transition: all 0.3s ease-in-out;
}

.main__select-list.open {
    
        opacity: 1;
}



.main__select-list li {
    cursor: pointer;
}

.main__select-list:not(:last-child) {
    margin-bottom: 8px;
}


.main__countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 48px;
}

.main__country {
    width: 264px;

}

.main__country-flag-image {
    height: 160px;
    width: 264px;
}

.main__country-description {
    border-radius: 5px;
    background: var(--colors-blue-900);
    padding: 24px 24px 48px 24px;
    font-weight: 800;
    font-size: 18px;
    color: var(--colors-white);
}

.main__country-title {
    margin-bottom: 16px;
}

.main__country-population,
.main__country-region,
.main__country-capital {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
}


.main__country-population span,
.main__country-region span,
.main__country-capital span {
    font-weight: 600;
}